<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="%NUGETREADY_NEGATIVE_LOCAL%" />
    <add key="published" value="%NUGETREADY_PUBLIC_SUBSTITUTE%" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="local"><package pattern="KeelMatrix.NuGetReady" /></packageSource>
    <packageSource key="published"><package pattern="NuGet.*" /></packageSource>
  </packageSourceMapping>
</configuration>
