<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="%NUGETREADY_FEED%" />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="local"><package pattern="KeelMatrix.NuGetReady" /></packageSource>
    <packageSource key="public">
      <package pattern="KeelMatrix.Telemetry" />
      <package pattern="NuGet.*" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="YamlDotNet" />
      <package pattern="runtime.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="NETCore.App.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
